openapi: 3.0.3
info:
  title: Cartesia Agents Usage API
  description: 'The Cartesia REST API for real-time voice AI - text-to-speech and voice-changer generation (single-shot bytes or Server-Sent Events), batch speech-to-text transcription, voice management and cloning, audio infill, custom datasets, pronunciation dictionaries, API keys and scoped access tokens, the Voice Agents platform (agents, calls, call batches, phone numbers, telephony providers, webhooks, deployments, knowledge base documents/folders, and evaluation metrics), and usage reporting. All requests require a `Cartesia-Version` header and an `Authorization: Bearer` API key (`sk_car_...`) or short-lived access token. The lowest-latency, streaming surface for TTS and STT is a separate WebSocket protocol documented in the companion AsyncAPI document at asyncapi/cartesia-ai-asyncapi.yml.'
  version: '2026-03-01'
  contact:
    name: Cartesia
    url: https://cartesia.ai
  license:
    name: API documentation - Cartesia Terms of Service
    url: https://cartesia.ai/terms-of-service
servers:
- url: https://api.cartesia.ai
  description: Cartesia production API
security:
- bearerAuth: []
tags:
- name: Usage
  description: Credit and agent usage reporting.
paths:
  /usage/credits:
    get:
      operationId: getCreditUsage
      tags:
      - Usage
      summary: Get Credit Usage
      description: Returns your credit usage over time, bucketed by the requested interval.
      parameters:
      - $ref: '#/components/parameters/CartesiaVersion'
      - name: interval
        in: query
        schema:
          type: string
          enum:
          - hour
          - day
          - week
          - month
      - name: start
        in: query
        schema:
          type: string
          format: date-time
      - name: end
        in: query
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Credit usage buckets.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        timestamp:
                          type: string
                          format: date-time
                        credits:
                          type: number
        '401':
          $ref: '#/components/responses/Unauthorized'
  /usage/agents:
    get:
      operationId: getAgentUsage
      tags:
      - Usage
      summary: Get Agent Usage
      description: Returns your agent usage over time, bucketed by the requested interval.
      parameters:
      - $ref: '#/components/parameters/CartesiaVersion'
      - name: interval
        in: query
        schema:
          type: string
          enum:
          - hour
          - day
          - week
          - month
      - name: agent_id
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Agent usage buckets.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        timestamp:
                          type: string
                          format: date-time
                        minutes:
                          type: number
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Missing, invalid, or expired API key / access token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    CartesiaVersion:
      name: Cartesia-Version
      in: header
      required: true
      description: API version date, e.g. 2026-03-01.
      schema:
        type: string
        example: '2026-03-01'
  schemas:
    Error:
      type: object
      properties:
        title:
          type: string
        message:
          type: string
        error_code:
          type: string
        status_code:
          type: integer
        doc_url:
          type: string
        request_id:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: sk_car_... API key or short-lived access token
      description: 'Cartesia API key (sk_car_...) or a short-lived access token minted via POST /access-token, passed as Authorization: Bearer <token>. Every request also requires the Cartesia-Version header.'
